banner exec "ADVERTENCIA: Usted debe tener autorizacion previa para el acceso a este sistema. Se registran y se supervisan todas las conexiones. El acceso o el uso desautorizado sera procesado al maximo grado de la ley."
!
banner login "ADVERTENCIA: Usted debe tener autorizacion previa para el acceso a este sistema. Se registran y se supervisan todas las conexiones. El acceso o el uso desautorizado sera procesado al maximo grado de la ley."
!
hostname {{ hostname }}
!
logging on
logging host 10.200.60.248
logging count 300
logging level notice
!
username um privilege 15 password encrypted f21a0b722202a6b1ae67c18cc3dee86f77cd6ccdfa226b09b9fa17f1d599be765649e7fa4ea2da94568e5f504cd5fa641c8ba97a9e4bd654dfb189a45c1cf99f
username imp privilege 15 password encrypted 811aa9a983ccfc959a2402e58fb7b71f61126dcbae65752c02f4364e110b2513780592dc3061247ed22b267f2fc800588e4aa866e266bb7915a0d5a3d9f22162
username ing privilege 15 password encrypted b619ce8a7437a5375121dc04e4856ecba733b9c7efac04e0e53410138943d8ccc0b416bdf6e352d1983ee5bce5e9071516bb77d42a97cfe2d7e25077c0613ef2
username noc privilege 15 password encrypted 479277c2646d7761b5d02f99c9facd92b36b5b6a13fd5e6c27d24cd5b44c0e11cd1cd9ea4dc65d52842de0b865e8bd651117b8a276a063b18d18a33c2a3e5ab0
username admin privilege 15 password encrypted 65fe25c298c8ac22a1c87f1f367b59cf6d73f514e3cfb48e70eed02e8b031e573e5829dd584869220a47cd82a1807e0702c86607a19fbfe4bfb5eb957e3541c3
!
access management 1 55 200.42.0.253 all
access management 2 55 200.42.0.70 all
access management 3 55 10.200.60.128 to 10.200.60.255 all
access management 4 55 10.200.41.1 to 10.200.41.255 all
access management 5 55 10.200.40.1 to 10.200.40.255 all
access management 6 55 172.20.3.165 snmp
access management
!
loop-protect
loop-protect transmit-time 1
loop-protect shutdown-time 1800
!
vlan 55
name MGMT
exit
!
vlan 4000
name Loop-Protection
exit
!
{% for vlan in vlan_database -%}
vlan {{ vlan.vlan_id }}
{% if vlan.name is not none -%}
 name {{ vlan.name }}
{% endif -%}
 exit
!
{% endfor -%}
!
!
!
snmp-server host SERVIDOR_SNMP
no shutdown
host 10.200.60.133 162 traps
version v2 encrypted 79bafe878d36f8c13223dae2b146e59ad5bf7d5356ea2dcf62c7ff23625f0bf9ec61314ed96b6d6b1c8f5abdb3e9f78b4f86348abee32924e6ae1e0704cceff4
!
ip routing
ip route 0.0.0.0 0.0.0.0 {{ ip_gateway }}
ntp
ntp server 1 ip-address 24.232.1.115
ntp server 2 ip-address 181.30.130.4
clock timezone AR -3
!
aggregation mode smac dmac ip port
!
snmp-server contact noc@cv.fibercorp.com.ar
snmp-server location {{ location }}
no snmp-server community public
no snmp-server community private
!
snmp-server community NMS_RO ip-range 0.0.0.0 0.0.0.0 encrypted 04617abcee3a4667d41739e0ce5ac87a29ce54be432c2bc10ef28aa7b8e6d09bd3907df8cee0a6a6a10989c3b465d2f5e17e41bb1ea952e8c171eae154379e1c
!
snmp-server community NMS_RW ip-range 0.0.0.0 0.0.0.0 encrypted f9c7032e38ec0ca99e0bbeab9fc1a1990ea507d2d49728f420c0b9cc4a44fc7fdde1b5208dcb8411663ad8bbeac1940374cd037b24451807f019b4ac7fff086f
!
snmp-server security-to-group model v2c name NMS_RO group NMS_RO
snmp-server security-to-group model v2c name NMS_RW group NMS_RW
!
no snmp-server security-to-group model v1 name public
no snmp-server security-to-group model v1 name private
no snmp-server security-to-group model v2c name public
no snmp-server security-to-group model v2c name private
!
snmp-server access NMS_RO model v2c level noauth read default_view
snmp-server access NMS_RW model v2c level noauth read default_view write default_view
no snmp-server access default_ro_group model any level noauth
no snmp-server access default_rw_group model any level noauth
!
snmp-server trap newRoot id 0
snmp-server trap coldStart id 0
snmp-server trap risingAlarm id 0
snmp-server trap fallingAlarm id 0
snmp-server trap topologyChange id 0
snmp-server trap psecTrapInterfaces id 0
snmp-server trap lldpRemTablesChange id 0
snmp-server trap ipTrapInterfacesLink id 0
!
no aaa authentication login telnet
aaa authentication login ssh tacacs local
aaa authentication login http tacacs local
aaa accounting ssh tacacs commands 0 exec
tacacs-server timeout 15
tacacs-server deadtime 300
!
tacacs-server host 200.42.51.18 timeout 15 key encrypted 76166f0698e7bd8eea8cc73f39bc7ceac80ea31ba86f4d39d7f3f01646351b6dbef77b3e98118ad136dec5a90e92899801ad463a9ec3df0fd035a7a268c3fa27
!
tacacs-server host 200.42.51.19 timeout 15 key encrypted a3447118f38b8c19cd11d477a20bbb1a7cd2437f479299422b44e4dd1b90df2d161fd24417ea2e6080a4458e98d8b5050a4d4683269e634d1b64a6ea0ff382ef
!
interface ManagementPort 1/1
switchport access vlan 55
shutdown
!
!
!
{%- for interface in interfaces.giga %}
interface GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
description {{ interface.description }}
switchport mode trunk
switchport trunk native vlan {{ interface.native_vlan }}
switchport trunk allowed vlan {{ interface.tagged_vlans }}
no spanning-tree
loop-protect
loop-protect action shutdown log
exit
!
{%- endfor %}
!
!
{%- for interface in interfaces.tengiga %}
interface 10GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
description {{ interface.description }}
switchport mode trunk
switchport trunk native vlan {{ interface.native_vlan }}
switchport trunk allowed vlan {{ interface.tagged_vlans }}
no spanning-tree
loop-protect
loop-protect action shutdown log
exit
!
{%- endfor %}
!
!
{%- for interface in interfaces.uplink %}
interface 10GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
no loop-protect
no loop-protect tx-mode
switchport mode trunk
switchport trunk allowed vlan {{ interface.tagged_vlans }}
no spanning-tree
speed auto
description FC-UPLINK-PORT
aggregation group 1 mode on
exit
!
{%- endfor %}
!
!
!
no interface vlan 1
!
interface vlan 55
ip address {{ ip_mgmt }} 255.255.255.0
exit
!
mep os-tlv oui 0xC sub-type 0x1 value 0x2
!
spanning-tree aggregation
no spanning-tree
spanning-tree link-type point-to-point
exit
!
!
line console 0
exit
!
line vty 0
length 0
width 132
exit
!
line vty 1
length 0
width 132
exit
!
aaa authentication login console tacacs local
