banner exec "ADVERTENCIA: Usted debe tener autorizacion previa para el acceso a este sistema. Se registran y se supervisan todas las conexiones. El acceso o el uso desautorizado sera procesado al maximo grado de la ley."
!
banner login "ADVERTENCIA: Usted debe tener autorizacion previa para el acceso a este sistema. Se registran y se supervisan todas las conexiones. El acceso o el uso desautorizado sera procesado al maximo grado de la ley."
!
hostname {{ hostname }}
username um privilege 15 password encrypted ZXN0dWZhIHNlcmllcyBtYXJjaWFs
username ing privilege 15 password encrypted Zmx1b3IgZ2VuZXJhbCBtYXJjYXM=
username noc privilege 15 password encrypted YmFyY29zIHRhbGFkcm8gc29nYXM=
username root privilege 15 password encrypted ZThheGM4czcyMmg3OGs4
username admin privilege 15 password encrypted ZThheGM4czcyMmg3OGs4
username imp privilege 15 password encrypted YXp1bCB5ZXJiYSBsZWdhZG8=
!
access management 1 55 200.42.0.253 all
access management 2 55 200.42.0.70 all
access management 3 55 10.200.60.128 to 10.200.60.255 all
access management 4 55 10.200.41.1 to 10.200.41.255 all
access management 5 55 10.200.40.1 to 10.200.40.255 all
access management 6 55 172.20.3.165 snmp
!
access management
!
vlan 1
!
vlan 55
name MGMT
exit
!
vlan 4000
name Loop-Protection
exit
!
{% for vlan in vlan_database -%}
vlan {{ vlan.vlan_id }}
{% if vlan.name is not none -%}
 name {{ vlan.name }}
{% endif -%}
 exit
!
{% endfor -%}
!
logging on
logging host 10.200.60.248
logging level notice
clock timezone AR -3
!
loop-protect
loop-protect transmit-time 1
loop-protect shutdown-time 1800
!
snmp-server host SERVIDOR_SNMP
no shutdown
host 10.200.60.133 162 traps
traps authentication snmp-auth-fail switch stp rmon system warmstart coldstart
exit
!
ip route 0.0.0.0 0.0.0.0 {{ ip_gateway }}
ntp
ntp server 1 ip-address 24.232.1.115
ntp server 2 ip-address 181.30.130.4
aggregation mode smac dmac ip port
spanning-tree mst name 00-c0-f2-57-5e-70 revision 0
snmp-server contact noc@cv.fibercorp.com.ar
snmp-server location {{ location }}
!
snmp-server community v2c transpbbro RO
snmp-server community v2c 0p3r4t1v0 RW
snmp-server trap
!
no aaa authentication login telnet
aaa authentication login ssh tacacs local
aaa authentication login http tacacs local
aaa accounting ssh tacacs commands 0 exec
tacacs-server timeout 15
tacacs-server deadtime 300
tacacs-server host 200.42.51.18 timeout 15 key tacacssm24
tacacs-server host 200.42.51.19 timeout 15 key tacacssm24
qos map dscp-cos 12 cos 2 dpl 0
qos map dscp-cos 18 cos 3 dpl 0
qos map dscp-cos 26 cos 4 dpl 0
qos map dscp-cos 40 cos 5 dpl 0
qos map dscp-cos 46 cos 5 dpl 0
!
interface ManagementPort 1/1
switchport access vlan 55
shutdown
exit
!
!
{%- for interface in interfaces.giga %}
interface GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
description {{ interface.description }}
switchport mode trunk
switchport trunk native vlan {{ interface.native_vlan }}
switchport trunk allowed vlan {{ interface.tagged_vlans }}
no spanning-tree
loop-protect
loop-protect action log shutdown trap
qos storm broadcast 10 mbps
qos storm unknown 10 mbps
exit
!
{%- endfor %}
!
!
{%- for interface in interfaces.tengiga %}
interface 10GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
description {{ interface.description }}
switchport mode trunk
switchport trunk native vlan {{ interface.native_vlan }}
switchport trunk allowed vlan {{ interface.tagged_vlans }}
no spanning-tree
loop-protect
loop-protect action log shutdown trap
qos storm broadcast 10 mbps
qos storm unknown 10 mbps
exit
!
{%- endfor %}
!
!
{%- for interface in interfaces.uplink %}
interface 10GigabitEthernet 1/{{ interface.interface_id }}
no shutdown
switchport mode trunk
switchport trunk allowed vlan {{ interface.tagged_vlans }}
switchport trunk vlan tag native
qos trust dscp
no spanning-tree
no loop-protect
no loop-protect action
no loop-protect tx-mode
aggregation group 1
description FC-UPLINK-PORT
exit
!
{%- endfor %}
!
no interface vlan 1
!
interface vlan 55
ip address {{ ip_mgmt }} 255.255.255.0
exit
!
!
mep os-tlv oui 0xC sub-type 0x1 value 0x2
!
spanning-tree aggregation
no spanning-tree
spanning-tree link-type point-to-point
exit
!
!
line console 0
exit
!
line vty 0
length 0
width 132
exit
!
line vty 1
length 0
width 132
exit
!
aaa authentication login console tacacs local
!
end